.ss-container:before{
    position: absolute;
    width: 100px;
    background: rgba(17,17,22,0.8);
	margin-left: 15px;
    content: '';
    height: 100%;
}

.page-heading {
    font-family: 'Rock Salt', cursive;
}

.page-phrase {
    font-family: 'Raleway', sans-serif;
}

header.masthead {
    background: linear-gradient(0deg,#ff6a00 0,#ee8f8f 100%);
}

header.masthead .bg-circle {
    background: linear-gradient(0deg,#ee0979 0,#f3d650 100%);
}

.btn-primary {
    background-color: rgb(53, 53, 53);
    border-color: rgb(53, 53, 53);
}

#verticleBar {
    position: fixed;
    height: 100%;
    width: 130px;
    background-color: black;
    margin-left: 20px;
    overflow-x: hidden;
}

.main {
    margin-left: 130px;
}



/* ANIMATION TRANSITIONS */

.elementAnimate {
    position: relative;
    width: 30%;
    margin: 0% 1.33% 2.66% 1.33%;
    float: left;
  }

.elementAnimate.active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }


.bounceUp {
    opacity: 0;
    -webkit-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
    -webkit-transform: translate3d(0px, 200px, 0px);
    -ms-transform: translate(0px, 200px);
    transform: translate3d(0px, 200, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

.bounceUp.active {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
